@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&display=swap');


:root {
  --logo-color: rgb(245, 245, 245);

  /* nav colors */
  --nav-background: #0b0b0e;
  --nav-color: #646669;
  --nav-color-hover: #d1d0c5;

  --nav-label-color: #c0c0c0;
  --nav-label-background: rgba(102, 51, 153, 0.1);
  --dropdown-background: #0b0b0e;
  --dropdown-label: #c0c0c0;
  --dropdown-label-open: rgb(224, 224, 224);

  --nav-options-background: rgb(23, 23, 25);

  --option-selected-color: rgb(200, 200, 200);

  
  --node-unvisited: rgba(50, 154, 186, .25);
  --node-start: #36bde6;
  --node-end: #fe9c09;
  --node-visited: rgba(1, 179, 19, .8);
  --node-visited-2: rgba(41, 148, 210, 0.901);
  --node-block: #111111;


  --board-background: #ffffff;

  --text-heighlight: rgb(150, 150, 150);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo{
  padding: .5rem;

  color: var(--logo-color);
  font-size: 18px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;

  cursor: default;
}

nav{
  background-color: var(--nav-background);
  display: flex;
  color: var(--nav-color);
  padding: .25rem;
  padding-right: 0.75rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  
  height: 3rem;
  /* box-shadow:  #161b1d 1px 1px 2px; */
  border-bottom: 1px solid rgb(55, 55, 55);
}

.nav-items{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-items>.left,
.nav-items>.right
{
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown{
  position: relative;
  display: flex;
  align-items: center;
}

.path-algo>.dropdown-label,
.maze-algo>.dropdown-label{
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  /* height: 2rem; */

  color: var(--nav-label-color);
  background-color: rgb(22, 22, 22);
  
  font-size: 15px;
  font-size: 14px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 500;
  
  padding: .4rem;
  /* padding-top: 0px; */

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}



.carrot{
  height: fit-content;
  color: var(--nav-label-color);
  transform: rotate(90deg);
  font-weight: 600;
  font-size: 12px;
  font-family: 'Lexend Deca', sans-serif;
}


.dropdown-list{
  color: var(--dropdown-label);
  z-index: 10;
  position: absolute;
  top: 2.5rem;
  margin-left: .5rem;
  width: fit-content;
  background-color: var(--dropdown-background);
  border-radius: 5px;

  /* box-shadow: rgba(0, 0, 0, 0.7) 2.4px 2.4px 3.2px; */
  box-shadow: #161b1d 1px 1px 2px;

  cursor: pointer;
}


.dropdown-list-item{
  color: var(--dropdown-label);
  padding: 0.5rem .75rem 0.5rem .75rem;
  list-style: none;
  font-size: 13px;
  min-width: 7rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: 'Lexend Deca', sans-serif;

}

.dropdown-list-item:hover{
  border-radius: 5px;
  color: var(--option-selected-color);
  background-color: rgb(29, 29, 31);
}

[data-dropdown-active="false"] > .dropdown-list{
  opacity: 0;
  pointer-events:none;
}

[data-dropdown-active="true"] > .dropdown-list{
  opacity: 1;
  pointer-events:all;
}

[data-dropdown-active="true"] > .dropdown-label,
[data-dropdown-active="true"] > .dropdown-label>.carrot{
  color: rgb(230, 230, 230);
  /* pointer-events:none; */
}


.visualize-btn{
  height: fit-content;
  padding: 0.5rem;


  color: rgb(238, 238, 238);
  background-color: rgb(22, 22, 22);
  border-radius: 5px;
  font-weight: 600;

  font-family: 'Lexend Deca', sans-serif;
  font-size: 13px;
  font-size: 14px;
  
  user-select: none;
  cursor: pointer;
}


.options{
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: var(--nav-options-background);
  height: 1.85rem;
  padding-inline: 0.5rem;
  border-radius: 5px;
}



.checkpoint-diagonal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(23, 23, 25);

  border-radius: 5px;
  gap: 12px;
}

.divider{
  width: 2px;
  height: 1.25rem;
  background-color: rgb(56, 56, 56);
}


.checkpoint-btn
,.diagonal-btn{
  width: fit-content;
  height: fit-content;
  color: #646669;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  font-weight: 400;

  cursor: pointer;
  user-select: none;
}

.checkpoint-btn[data-active="true"]
,.diagonal-btn[data-active="true"]{
  width: fit-content;

  color: var(--option-selected-color);
  cursor: pointer;
  font-family: 'Lexend Deca', sans-serif;
}


.speed-btn{
  gap: 10px;
  gap: 12px;
  display: flex;
}


.speed-btn>.dropdown-label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}


.speed-svg{
  height: 18px;
  width: 18px;
  stroke-width: 5px;
}


.speed-values{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  user-select: none;
  cursor: pointer;
}


.speed-values>.speed-value{
  font-size: 12px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  transition: 0.2s ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
}

.speed-value.selected{
  color: var(--option-selected-color);
  transition: 0.2s ease-in-out;
}


.other{
  display: flex;
  align-items: center;

  gap: 10px;
  /* gap: 15px;                                          * LOOKS BETTER THOUGH */
  gap: 12px;                                          /** LOOKS BETTER THOUGH*/
  background-color: var(--nav-options-background);
  padding-top: 0.25rem;
  padding-inline: 0.5rem;
  height: 1.8rem;
  border-radius: 5px;
}


.clear-board-btn{
  width: fit-content;
}

.clear-board-btn>.dropdown-list{
  /* position: fixed; */
  right: -2.5rem;
  top: 2.10rem;
}

.speed-svg
/* .clear-svg, */
/* .info-svg */
{
  height: 17px;
  width: 17px;
  fill: #646669;
}

.clear-svg{
  height: 18px;
  width: 18px;
  fill: #646669;
  cursor: pointer;
}
.info-svg{
  height: 16px;
  width: 16px;
  fill: #646669;
  cursor: pointer;
}


/* Node styles */

#board-grid{
  margin: auto;
  background-color: var(--board-background);
}

.grid-row{
  display: flex;
}

.grid-row:nth-last-child(1){
  border-bottom: 1px solid rgb(70, 70, 70);
}

.grid-row>.node:nth-last-child(1){
  border-right: 1px solid rgb(70, 70, 70);
}


.node{
  /* width: 23px;
  height: 23px; */
  width: 25px;
  height: 25px;

  width: 22px;
  height: 22px;

  border-top: 1px solid rgb(70, 70, 70);
  border-left: 1px solid rgb(70, 70, 70);
}


.start{
  background-color: var(--node-start);
  cursor: grab;
  /* background-image: url("./../assets/circle-64.png"); */
  /* transform: rotate(30deg); */
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.end{
  background-color: var(--node-end);
  cursor: grab;
}

.checkpoint {
  cursor: grab;
  background-color: #ad2cf8;
}

.grabbing {
  cursor: grabbing;
}

.visited{
  background-color: var(--node-visited);
}

.visited-2{
  background-color: var(--node-visited-2);
  /* rgba(41, 148, 210, 0.901) */
}

.block{
  background-color: var(--node-block);
  border: none;
}


.path{
  background-color: yellow;
}

.path-2{
  background-color: yellow;
}


.frontier {
  background-color: rgb(14, 141, 14);
  border-radius: 50%;
  scale: 0.25;
}

/** Node animations */

.block[data-animation-type = "animate"]{
  animation-name: block-add-animation;
  animation-duration: 0.25s;
}

@keyframes block-add-animation {
  0% {transform: scale(0.0); border-radius: 50%}
  25% {transform: scale(0.33); border-radius: 33.3%}
  50% {transform: scale(0.66); border-radius: 16.6%}
  75% {transform: scale(1); border-radius: 0%}
  90% {transform: scale(1.1)}
  100% {transform: scale(1)}
}



.visited[data-animation-type = "animate"]{
  animation-name: visited-add-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.visited-2[data-animation-type = "animate"]{
  animation-name: visited-2-add-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.path[data-animation-type = "animate"]{
  animation-name: path-add-animation;
  /* animation-duration: 1s; */
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.path-2[data-animation-type = "animate"]{
  animation-name: path-2-add-animation;
  /* animation-duration: 1s; */
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}







.unvisited{
  /* background-color: var(--node-unvisited); */
  background-color: white;
}

.unvisited-2{
  animation-name: block-remove-animation;
  animation-duration: 0.25s;
  /* animation-duration: 2.25s; */
}

.unvisited-3{
  animation-name: weight-remove-animation;
  animation-duration: 0.4s;
  background-image: url("./../assets/weight-64.png");
  background-size: 65%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  animation-fill-mode: forwards;
  
  /* animation-duration: 2.25s; */
}
.unvisited-3.weighted{
  background-image: url("./../assets/weight-64.png") !important;
  background-size: 65%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  animation-fill-mode: forwards;

}

.visited.unweighted-visited{
  animation-name: unweighted-visited-animation;
  animation-duration: 0.4s;
  background-image: url("./../assets/weight-64.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  animation-fill-mode: forwards;
  background-color: rgba(1, 179, 19, .8)
}
.visited-2.unweighted-visited-2{
  animation-name: unweighted-visited-2-animation;
  animation-duration: 0.4s;
  background-image: url("./../assets/weight-64.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  animation-fill-mode: forwards;
  background-color: rgba(41, 148, 210, 0.901)
}
.path.unweighted-path{
  animation-name: unweighted-path-animation;
  animation-duration: 0.4s;
  background-image: url("./../assets/weight-64.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  animation-fill-mode: forwards;
  background-color: yellow
}

@keyframes unweighted-visited-animation {
  0% {transform: scale(1);background-size: 60%;}
  10% {background-size: 70%;}
  99% {background-color: rgba(1, 179, 19, .8); background-size: 0%;}
  100% {transform: scale(1); background-color: rgba(1, 179, 19, .8); background-size: 0%; background-image: none;}
}
@keyframes unweighted-visited-2-animation {
  0% {transform: scale(1);background-size: 60%;}
  10% {background-size: 70%;}
  99% {background-color: rgba(41, 148, 210, 0.901); background-size: 0%;}
  100% {transform: scale(1); background-color: rgba(41, 148, 210, 0.901); background-size: 0%; background-image: none;}
}
@keyframes unweighted-path-animation {
  0% {transform: scale(1);background-size: 60%;}
  10% {background-size: 70%;}
  99% {background-color: yellow; background-size: 0%;}
  100% {transform: scale(1); background-color: yellow; background-size: 0%; background-image: none;}
}


@keyframes weight-remove-animation {
  0% {
    transform: scale(1);
    background-size: 60%;
  }
  10% {
    /* transform: scale(1.1); */
    background-size: 70%;
    /* border-radius: 5%; */
  }
  99% {
    /* transform: scale(0.0); */
    background-color: white; border-radius: 0%;
    background-size: 0%;
  }
  100% {
    transform: scale(1); background-color: white; border-radius: 0%; 
    background-image: none;
  }
}

@keyframes weight-add-animation {
  0% {background-size: 0%;}
  /* 25% {background-size: 70%;} */
  /* 50% {background-size: 70%;} */
  75% {background-size: 65%;}
  90% {
    /* background-color: white; */
    background-size: 70%;
  }
  100% {
    transform: scale(1);
    /* background-color: white; */
    /* background-image: none; */
  }
}

@keyframes block-remove-animation {
  /* 0% {transform: scale(1); background-color: var(--node-block); border-radius: 0%; border-color: white} */
  0% {transform: scale(1); background-color: var(--node-block);border-radius: 0%}
  10% {transform: scale(1.1); background-color: var(--node-block);border-radius: 5%}
  25% {transform: scale(1); background-color: var(--node-block); border-radius: 10%}
  50% {transform: scale(0.66); background-color: var(--node-block);border-radius: 16.6%}
  75% {transform: scale(0.33); background-color: var(--node-block);border-radius: 33.3%;}
  99% {transform: scale(0.0); background-color: white; border-radius: 00%;}
  100% {transform: scale(1); background-color: white; border-radius: 00%; }
}

.unvisited-animate{
  background-color: white;
  animation-name: block-add-animation;
  animation-duration: 0.5s;
}

.weighted[data-animation-type = "animate"]{
  animation-name: weight-add-animation;
  animation-duration: 0.4s;
}


.weighted{
  background-image: url("./../assets/weight-64.png");
  background-size: 65%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}



.dfs-head{
  background-color: red;
}

/* 
@keyframes visited-add-animation {
  0% {background-color: #5c92d4;transform: scale(0.0); border-radius: 50%}
  25% {transform: scale(0.33); border-radius: 33.3%}
  50% {background-color: #1c10c2;transform: scale(0.66); border-radius: 16.6%}
  75% {transform: scale(1); border-radius: 0%}
  90% {transform: scale(1.1)}
  100% {background-color: #ad2cf8;transform: scale(1)}
} */


/** From green -> dark green -> Green  */
@keyframes visited-add-animation {
  0% {background-color: rgba(1, 179, 19, .5);transform: scale(0.0); border-radius: 50%}
  10% {transform: scale(0.33); border-radius: 33.3%}
  20% {transform: scale(0.66); border-radius: 16.6%}
  30% {transform: scale(1.1); border-radius: 0%}
  40% {transform: scale(1); border-radius: 0%}
  50% {background-color: rgba(10, 151, 45, .75);transform: scale(1); border-radius: 0%}
  /* 50% {background-color: #047e22;transform: scale(1); border-radius: 0%} */
  60% {transform: scale(1); border-radius: 0%}
  70% {transform: scale(1); border-radius: 0%}
  80% {transform: scale(1); border-radius: 0%}
  90% {transform: scale(1)}
  100% {background-color: rgba(1, 179, 19, .8);transform: scale(1)}
}

/*? the one at bottom is orginal  */
/* *From light yellow -> dark green -> Green */
/* @keyframes visited-add-animation {
  0% {background-color: #c2c656;transform: scale(0.0); border-radius: 50%}
  10% {background-color: #cee72b;transform: scale(0.33); border-radius: 33.3%}
  20% {background-color: #d4e23a;transform: scale(0.66); border-radius: 16.6%}
  30% {background-color: #9ed45c;transform: scale(1.1); border-radius: 0%}
  40% {background-color: #ade652;transform: scale(1); border-radius: 0%}
  50% {background-color: #3ed203;transform: scale(1); border-radius: 0%}
  60% {background-color: #69db4c;transform: scale(1); border-radius: 0%}
  70% {background-color: #5fbf44;transform: scale(1); border-radius: 0%}
  80% {background-color: #23a445;transform: scale(1); border-radius: 0%}
  90% {background-color: #0fa334;transform: scale(1)}
  100% {background-color: #01b313;transform: scale(1)}
} */


@keyframes visited-2-add-animation {
  /* 0% {background-color: rgba(22, 95, 197, 0.8);transform: scale(0.0); border-radius: 50%} */
  0% {background-color: rgba(41, 148, 210, 0.901);transform: scale(0.0); border-radius: 50%}
  10% {transform: scale(0.33); border-radius: 33.3%}
  20% {transform: scale(0.66); border-radius: 16.6%}
  30% {transform: scale(1.1); border-radius: 0%}
  40% {transform: scale(1); border-radius: 0%}
  50% {background-color: rgba(41, 111, 210, 0.8);transform: scale(1); border-radius: 0%}
  /* 50% {background-color: #047e22;transform: scale(1); border-radius: 0%} */
  60% {transform: scale(1); border-radius: 0%}
  70% {transform: scale(1); border-radius: 0%}
  80% {transform: scale(1); border-radius: 0%}
  90% {transform: scale(1)}
  /* 100% {background-color: rgba(41, 148, 210, 0.8);transform: scale(1)} */
  100% {background-color: rgba(41, 148, 210, 0.901);transform: scale(1)}
}



@keyframes path-add-animation {
  0% {transform: scale(0.0); border-radius: 50%}
  25% {transform: scale(0.33); border-radius: 33.3%}
  50% {transform: scale(0.66); border-radius: 16.6%}
  75% {transform: scale(1); border-radius: 0%}
  90% {transform: scale(1.1)}
  100% {transform: scale(1)}
}

@keyframes path-2-add-animation {
  0% {transform: scale(0.0); border-radius: 50%}
  25% {transform: scale(0.33); border-radius: 33.3%}
  50% {transform: scale(0.66); border-radius: 16.6%}
  75% {transform: scale(1); border-radius: 0%}
  90% {transform: scale(1.1)}
  100% {transform: scale(1)}
}


/* INFO CARD */

.info-card{
  background-color: var(--nav-background);
  position: absolute;

  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;

  border-radius: 5px;
  box-shadow: rgba(21, 21, 21, 1) 2px 2px 2px;

  opacity: 0;
  pointer-events: none;
  z-index: 5;
}

.info-card[data-open="true"]{
  opacity: 1;
  pointer-events: all;
  
  scale: 1;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
}

.info-card>.header{
  display: flex;
  gap: 15px;
  margin-left: 5px;
  
  user-select: none;
}

.info-card>.header>.info-tab-label[data-selected="true"]{
  color: var(--option-selected-color);
}

.info-card>.footer{
  display: flex;
  justify-content: flex-end;
}

.info-card>.header>.info-tab-label{
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Lexend Deca', sans-serif;
  color: #646669;
  transition: 0.25s ease-in-out;
  cursor: pointer;

}

.info-card>.body{
  display: flex;
  height: 100%;
}

.info-card>.body>.side-nav{
  width: calc(20% - 10px);
  min-width: 5rem;
  margin-top: 10px;
  margin-left: 10px;

  padding: 5px;
  min-height: 5rem;
  border-radius: 5px;

  height: calc(100% - 45px);
  
  cursor: pointer;
  user-select: none;
  /* height: calc(100% - 25px); */

  /* width: 5rem; */
}

.info-card>.body>.side-nav>.heading-link{
  font-size: 12px;
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom: 10px;
  transition: 0.1s ease-in-out;
}

.info-card>.body>.side-nav>.heading-link:hover{
  color: var(--option-selected-color);
}




.info-card>.body>.description-container{
  margin-top: 10px;
  margin-left: 10px;
  width: calc(80% - 20px);
  /* height: calc(100% - 20px); */
  height: calc(100% - 45px);
  border-radius: 5px;
  padding-inline: 5px;

  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}


.info-card>.body>.description-container>.container>.heading{
  color: var(--option-selected-color);
  font-weight: 600;
  font-size: 15px;
}

.info-card>.body>.description-container>.container>.description{
  margin-top: 5px;
  font-size: 12px;
}

.code-block{
  background-color: var(--nav-options-background);
  margin-top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  margin-right: 5px;
}

.text-highlight{
  color: var(--text-heighlight);
  font-weight: 500;
  font-style: italic;
}
.text-tab{
  margin-left: 1.5rem;
  margin-left: 1rem;
  margin-top: 7px;
  margin-bottom: 7px;
}

.info-card>.body>.description-container>.container{
  margin-bottom: 25px;
}


.info-card>.body>.description-container::-webkit-scrollbar {
  width: 5px;
}
.info-card>.body>.description-container::-webkit-scrollbar-track {
  background: #292929; 
  border-radius: 5px;
}
/* Handle */
.info-card>.body>.description-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888; 
}
.info-card>.body>.description-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.info-node-container{
  margin: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  font-weight: 600;
}
#info-Controls>.description>div>span{
  color: #a5a5a5;
  margin-left: 1rem;
}
#info-Controls>.description>div{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  font-weight: 600;

}

.info-node{
  width: 20px;
  height: 20px;
}

.info-node.info-checkpoint{
  background-color: #ad2cf8;
}
.info-node.info-start{
  background-color: var(--node-start);
}
.info-node.info-end{
  background-color: var(--node-end);
}
.info-node.info-block{
  background-color: var(--node-block);
}
.info-node.info-weighted{
  background-image: url("./../assets/weight-64.png");
  background-size: 65%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
.info-node.info-unvisited{
  background-color: white;
}
.info-node.info-visited{
  background-color: rgba(1, 179, 19, .8);

}
.info-node.info-visited-2{
  background-color: rgba(41, 148, 210, 0.8);

}
.info-node.info-path{
  background-color: yellow;
}






.aside-boardgrid{
  display: flex;
}

.skip-btn{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  /* padding-inline: 0.5rem; */
  border-radius: 5px;
  width: fit-content;
  color: var(--nav-label-color);
  background-color: var(--nav-background);

  position: fixed;
  bottom: -2.5rem;
  right: 10px;
  transition: 0.3s ease-in-out;
  box-shadow:  #161b1d 1px 1px 2px;
  
  cursor: pointer;
  user-select: none;
}


.skip-btn[data-active="true"]{
  bottom: 10px;
  right: 10px;
}



.toast{
  /* visibility: hidden; */
  opacity: 0.5;
  min-width: 250px;
  min-width: fit-content;
  /* margin-left: -125px; */
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 5;
  right: 10px;
  top: 3.5rem;
  font-size: 17px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Lexend Deca', sans-serif;

  border-radius: 5px;
}

.toast[data-active="true"]{
  opacity: 1;
  /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;

  /* animation-duration: 1s; */
  animation-fill-mode: forwards;
  animation-timing-function: ease;

}

@-webkit-keyframes fadein {
  from {right: 0; opacity: 0;} 
  to { right: 10px; opacity: 1;}
}

@keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {right: 10px; opacity: 1;} 
  to {right: 0; opacity: 0;}
}

@keyframes fadeout {
  from {right: 10px; opacity: 1;}
  to {right: 10px; opacity: 0;}
}


.disabled{
  /* pointer-events: none; */
  /* pointer-events: painted; */
  cursor: not-allowed !important;
}
